In [87]:
#check the final shape of the database
df.shape

(103, 3)

In [89]:
#to not disrupt the previously created database (see part 1) I am going to introduce a new db_2 which is the exact copy of the previous one but used for the part two of the assignment
df2=df.copy()
df2.head()

  Postal code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [94]:
df2['Postal Code']=df2['Postal code'] #this is added since the cvs file has a different name for the column
df2.drop(['Postal code'], axis=1, inplace=True)
df2= df2[['Postal Code', 'Borough','Neighborhood']]
df2.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

**Geocoder gave me problem, so I used the csv file. --- The importing code is not shared since has my IBM credential. Data are saved in the df_data_1**

In [49]:
#import cvs data from the dataframe since geocoder does not work
df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [97]:
result = pd.merge(df2,df_data_1, on=['Postal Code'])
result.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494